body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sentence {
  display: block;
  margin-bottom: 10px;
}

.word {
  display: inline-block;
}

.word.selected {
  border: 1px solid red;
}
